<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
        />
        <title>New Employee</title>
    </head>
    <body>
        <div class="container">
            <h1 class="display-2 text-center">Add New Employee</h1>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="POST">
                        {{ form.hidden_tag() }} {% for field in form if
                        field.widget.input_type != 'hidden' %}
                        <div class="form-group">
                            {{ field.label }} {{ field(class_="form-control") }}
                            {% for error in field.errors %}
                            <small class="form-text text-danger"
                                >{{error }}</small
                            >
                            {% endfor %}
                        </div>

                        {% endfor %}
                        <button class="btn btn-success">Submit</button>
                        <a href="/phones" class="btn btn-warning btn-large"
                            >Go Back</a
                        >
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
